<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.youlasearcher">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YoulaSearcher"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HelpGuideActivity"
            android:label="Если не работает?"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.SearchingTaskActivity"
            android:label="Новый автопоиск"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.NotificationSettings"
            android:label="Настройки"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.SearchingSettingsActivity"
            android:label="Настройка автопоиска"
            android:parentActivityName=".activities.SearchingTaskActivity" />

        <activity
            android:name=".activities.AdvanceResultsActivity"
            android:label="Результат поиска"
            android:parentActivityName=".activities.SearchingTaskActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>